<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="othr.de.sites">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

  <application
      android:name=".main.MainApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_mylauncher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_mylauncher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:name=".views.splashscreen.SplashscreenView"
        android:label="@string/title_splashscreen"
        android:noHistory="true"
        android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".views.site.SiteView"
        android:label="@string/title_activity_site_view"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".views.siteList.SiteListView"/>
    </activity>

    <activity
        android:name=".views.siteList.SiteListView"
        android:label="@string/title_activity_siteList">
    </activity>

    <activity
        android:name=".views.editLocation.EditLocationView"
        android:label="@string/title_activity_maps"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".views.siteList.SiteListView"/>
    </activity>

    <activity
        android:name=".views.map.SiteMapsView"
        android:label="@string/title_activity_site_maps"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".views.siteList.SiteListView"/>
    </activity>

    <activity
        android:name=".views.settings.SettingsView"
        android:label="@string/title_activity_settings">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".views.siteList.SiteListView"/>
    </activity>
    <activity
        android:name=".views.login.LoginView"
        android:label="@string/title_activity_login"
        android:theme="@style/AppTheme">
    </activity>

    <activity android:name=".views.favorites.FavoritesView"
              android:label="@string/title_activity_favorites">
    <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".views.siteList.SiteListView"/>
    </activity>

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key"/>

  </application>

</manifest>